- model_class = Attr2
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:tenant_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @attr2s.each do |attr2|
      %tr
        %td= link_to attr2.id, attr2_path(attr2)
        %td= attr2.name
        %td= attr2.tenant_id
        %td=l attr2.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_attr2_path(attr2), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), attr2_path(attr2), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_attr2_path, :class => 'btn btn-primary'
