%br
= simple_form_for @client do |f|
  .col-xs-4.no-left-padding.bg-success
    = f.input :first_name
  .col-xs-4.bg-success
    = f.input :last_name
  .col-xs-4.no-right-padding
    = f.input :middle_name
  .row
  .col-xs-4.no-left-padding.bg-success
    = f.input :email
  .col-xs-4.bg-success
    = f.input :tel1
  .col-xs-4.no-right-padding
    = f.input :tel2
  .row
  .col-xs-8.no-left-padding
    = f.input :dob, :start_year => Time.now.year - 80, :end_year => Time.now.year - 4
    /= f.input :dob, id: "event_starts_at"
  .col-xs-4.no-right-padding
    = f.radio_button :sex, "M"
    = f.label :gender_male, "Male"
    = f.radio_button :sex, "F"
    = f.label :gender_female, "Female"
    /= f.input :sex, 
    /          :collection => [[1, 'Male'], [2, 'Female']], 
    /          :label_method => :last, 
    /          :value_method => :first,
    /          :as => :radio_buttons, 
    /          :item_wrapper_class => 'inline',
    /          :checked => true
  .row
  .col-xs-6.no-left-padding
    /= f.input :address
  .col-xs-6.no-right-padding
    /= f.input :lead_source_id, class: 'inactive'
  = f.button :submit, class: 'btn btn-primary btn-block'
