</div>
/- set_var 'events', @events.map{|e| {title: e.course.name + " " + e.room.office.name  + " " + e.room.name + " " + e.member.to_s, start: e.starts_at, end: e.ends_at, url: course_path(e.course)}}
- set_var 'events', @attendances.map{|e| {title: e.event.course.name + " " + e.event.room.office.name  + " " + e.event.room.name + " " + e.event.member.to_s, start: e.startz, end: e.endz, url: course_path(e.event.course)}}
.page-header
  %h1 Client
.col-md-4
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b Client info
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
            = link_to 'All clients', clients_path, :class => 'btn btn-default'
            = link_to 'Edit', edit_client_path(@client), :class => 'btn btn-default'
          %p
            %b Email:
            = @client.email
          %p
            %b First name:
            = @client.first_name
          %p
            %b Second name:
            = @client.middle_name
          %p
            %b Last name:
            = @client.last_name
          %p
            %b Bday:
            = @client.dob
          %p
            %b Tel1:
            = @client.tel1
          %p
            %b Tel2:
            = @client.tel2
          %p
            %b Sex:
            = @client.sex
          %p
            %b Address:
            = @client.address
          %p
            %b Lead source:
            = @client.lead_source_id
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %thead
              %tr
                %th Я отучился на, UAH:
                %th Я заплатил, UAH:
                %th.bg-success Я должен заплатить, UAH:
            %tbody
              %tr
                %td= @totalduepaymentclient
                %td
                %td.bg-success
.col-md-8
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOpp"}
            %b My enrollments
      #collapseOpp.panel-collapse.collapse.in
        .panel-body
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %thead
              %tr
                %th Created at
                %th Course
                %th Description
                %th Lessons attended
                %th Price of attendances
                %th Paid
                %th Balance
            %tbody
              - @enrollments.each do |enrollment|
                %tr
                  %td= enrollment.created_at
                  %td= enrollment.course
                  %td= enrollment.course.product
                  %td= enrollment.events.count(client_id: @client.id)
                  %td= enrollment.attendances.count(client_id: @client.id)
                  %td
                  /= enrollment.enrollmenttotalduepaymentclient
                  %td work in process
                  %td work in process
                  /%td= enrollment.event_group.events.count #currently shows how many attendances by ALL USERS
                  /%td= enrollment.event_group.attendances.count #currently shows how many attendances by ALL USERS
                  /%td
                  /full_price-I_used
                  /%td= link_to 'Show', [:admin, enrollment]
                  /%td= link_to 'Edit', edit_admin_enrollment_path(enrollment)
                  /%td= link_to 'Destroy', [:admin, enrollment], :method => :delete, :data => { :confirm => 'Are you sure?' }

 
 
 
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapsePay"}
            %b My payments
      #collapsePay.panel-collapse.collapse.in
        .panel-body            

      #collapseOpp.panel-collapse.collapse.in
        .panel-body
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseThree"}
            %b My calendar
      #collapseThree.panel-collapse.collapse.in
        .panel-body
          %div#calendar
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseTwo"}
            %b
              My attendances:
              = @totalatt
      #collapseTwo.panel-collapse.collapse.in
        .panel-body
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %thead
              %tr
                %th Starts at
                %th Duration
                %th Room
                %th Teacher
                %th Event group
                %th Lesson price
                %th Attended?
                %th.bg-success To pay
            %tbody
              - @attendances.each do |attendance|
                %tr
                  %td= attendance.startz
                  %td= attendance.event.course.product.event_length
                  %td= attendance.event.room
                  %td= attendance.event.member
                  %td= attendance.event.course
                  %td= attendance.gpricer
                  %td= attendance.attendance_rate.name
                  %td.bg-success= attendance.duepayment
