</div>
/- set_var 'events', @events.map{|e| {title: e.course.name + " " + e.room.office.name  + " " + e.room.name + " " + e.member.to_s, start: e.starts_at, end: e.ends_at, url: course_path(e.course)}}
- set_var 'events', @attendances.map{|e| {title: e.event.course.name + " " + e.event.room.office.name  + " " + e.event.room.name + " " + e.event.member.to_s, start: e.startz, end: e.endz, url: course_path(e.event.course)}}

.col-md-3
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b Client info
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
          %p
          %h4
            %b Name:
            = @client.to_ss
          %p
            %b Email:
            = @client.email
          %p
            %b Bday:
            = @client.dob
          %p
            %b Tel1:
            = @client.tel1
          %p
            %b Tel2:
            = @client.tel2
          %p
            %b Sex:
            = @client.sex
          %p
            %b Address:
            = @client.address
          %p
            %b Lead source:
            = @client.lead_source_id
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %thead
              %tr
                %th Total used
                %th Total paid
                %th.bg-success Total to pay
            %tbody
              %tr
                %td= @totalduepaymentclient
                %td= @totalpaidbyclient
                %td.bg-success= @totalduepaymentclient - @totalpaidbyclient
          = link_to 'All clients', clients_path, :class => 'btn btn-default'
          = link_to 'Edit', edit_client_path(@client), :class => 'btn btn-warning'
.col-md-9
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapsetabs"}
            %b Details
      #collapsetabs.panel-collapse.collapse.in
        .panel-body
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#Calendar"} Calendar
            %li
              %a{"data-toggle" => "tab", :href => "#Attendances"}
                Attendances:
                = @totalatt
            %li
              %a{"data-toggle" => "tab", :href => "#Payments"} 
                Payments:
                = @totalpay
            %li
              %a{"data-toggle" => "tab", :href => "#Enrollments"}
                Enrollments:
                = @totalenrollments
          .tab-content
            #Calendar.tab-pane.fade.in.active
              %br
              %div#calendar
            #Attendances.tab-pane.fade
              %p
              %h4.pull-right
                Total used:
                = @totalduepaymentclient
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th Starts at
                    %th Duration
                    %th Room
                    %th Teacher
                    %th Event group
                    %th Lesson price
                    %th Attended?
                    %th.bg-success To pay
                %tbody
                  - @attendances.each do |attendance|
                    %tr
                      %td= attendance.startz
                      %td= attendance.event.course.product.event_length
                      %td= attendance.event.room
                      %td= attendance.event.member
                      %td= attendance.event.course
                      %td= attendance.gpricer
                      %td= attendance.attendance_rate.name
                      %td.bg-success= attendance.duepayment
            #Payments.tab-pane.fade
              %p
              %h4.pull-right
                Total paid:
                = @totalpaidbyclient
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th ID
                    %th Date
                    %th Office
                    %th Course
                    %th amount
                %tbody
                  - @payments.each do |payment|
                    %tr
                      %td= payment.id
                      %td= payment.created_at
                      %td= payment.office
                      %td= payment.enrollment.course
                      %td= payment.amount
            #Enrollments.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th EnrollID
                    %th Paid
                    %th Used
                    %th ToPay
                    %th Course
                    %th Product
                    %th Client
                    /%th Coupon
                    %th Member
                %tbody
                  - @enrollments.each do |enrollment|
                    %tr
                      %td= enrollment.id
                      %td= enrollment.enrpaid
                      %td= enrollment.enrused 
                      %td= enrollment.enrbalance
                      %td= enrollment.course
                      %td= enrollment.course.product
                      %td= link_to enrollment.client, client_path(enrollment.client), :style=>'color: blue;'
                      /%td= link_to enrollment.member, member_path(enrollment.member), :style=>'color: blue;'
                      %td= enrollment.member
                      %td= enrollment.attendances.count
                      %thead
                        %tr.bg-warning
                          /%th
                          %th PayID
                          %th PayAmount
                      %tbody
                      - enrollment.payments.each do |payment|
                        %tr.bg-warning
                          %td= payment.id
                          %td= payment.amount
