- if current_user
  %h3.pull-right
    Organization: #{@tenant.name}
    = @tenant.name
  /= render 'courses/list'
- else
  .text-center
    %h1 Myclass102
  .row
  .col-md-6
    .jumbotron
      %h1.b Myclass102
      %h3 Event sales & management system
      /%h3 Attendance sales & management system
      %p
        = link_to 'Sign in', new_user_session_path, class: 'btn btn-primary btn-lg '
        = link_to 'Try now for free!', new_user_registration_path(plan: 'free'), class: 'btn btn-success btn-lg active'

  .col-md-6
    .embed-responsive.embed-responsive-16by9
      %iframe{:allowfullscreen => "", :frameborder => "0", :height => "458", :src => "https://www.youtube.com/embed/r6hxqg3PgRQ", :width => "815"}
  .row
    .plans.clearfix
      .col-lg-3.col-lg-offset-3.plan
        %h1 Free Plan
        .price.pull-right
          Price: Free
        .features
          %ul
            %li Unlimited event sales
            %li Unlimited clients & CRM
            %li 1 user
            %li Finances
            %li Reports & statistics
        %p
          = link_to 'Try now!', new_user_registration_path(plan: 'free'), class: 'btn btn-primary sign-up'
      .col-lg-3.plan
        %h1 Premium Plan
        .price.pull-right
          Price: $300
        .features
          %ul
            %li Unlimited event sales
            %li Unlimited clients & CRM
            %li.extra Unlimited users
            %li Finances
            %li Reports & statistics
        %p
          = link_to 'Sign Up', new_user_registration_path(plan: 'premium'), class: 'btn btn-primary sign-up'
  .row
  .text-center
    %h1 Features

  .row
  .text-center
    %h1 Designed for

  .row
  .text-center
    %h1 Our partners

  .row
  .text-center
    %h1 Contact us

  .row
  .text-center
    %p
    Contacts
    %p
    Support
    %p
    Tutorials
    %p
    Q&A forum
