- model_class = Attr3
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:name)
      %th= model_class.human_attribute_name(:tenant_id)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @attr3s.each do |attr3|
      %tr
        %td= link_to attr3.id, attr3_path(attr3)
        %td= attr3.name
        %td= attr3.tenant_id
        %td=l attr3.created_at
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), edit_attr3_path(attr3), :class => 'btn btn-default btn-xs'
          = link_to t('.destroy', :default => t("helpers.links.destroy")), attr3_path(attr3), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-xs btn-danger'

= link_to t('.new', :default => t("helpers.links.new")), new_attr3_path, :class => 'btn btn-primary'
