= simple_form_for(@enrollment) do |f|
  = f.error_notification
  = f.input :member_id, :as => :hidden
  .col-xs-6.no-left-padding
    = f.association :course
  .col-xs-6.no-right-padding
    = f.association :client
  .row
  .col-xs-12.no-left-padding.no-right-padding
    = f.input :coupon_id
  /.col-xs-6.no-right-padding
  .row
  .form-actions
    = f.button :submit, class: 'btn btn-primary btn-block'

