= simple_form_for @room, :html => { :class => 'form-horizontal' } do |f|
  = f.error_notification
  = f.input :name
  = f.association :office
  = f.button :submit, :class => 'btn-primary'
  = link_to 'Back to all rooms', rooms_path, :class => 'btn btn-default'
