= simple_form_for [@tenant, @course] do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info add-button"
  %p
    .form-inputs
    .col-sm-6
      = f.input :name
    .col-sm-6
      = f.input :product_id
      /= f.association :product, collection: f.object.product_id ? Product.active_or_id(f.object.product_id) : Product.active, :include_blank => false
  .row
    .col-sm-4
      = f.association :attr1, class: 'no-left-padding'
    .col-sm-4
      = f.association :attr2
    .col-sm-4.no-right-padding
      = f.association :attr3
  .row
    %h3 Events
    #tasks
      = f.simple_fields_for :events do |event|
        = render 'event_fields', f: event
      .links.container
        = link_to_add_association '+ Add event', f, :events, class: "btn btn-info add-button"
