= simple_form_for @course do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info add-button"
  .row
  .col-sm-6
    = f.input :name
  .col-sm-6
    /= f.association :product
    /= f.association :product, collection: f.object.product_id ? Product.active_or_id(f.object.product_id) : Product.active, :include_blank => false
    = f.association :product, collection: f.object.product_id ? Product.active_or_id(f.object.product_id) : Product.active, :include_blank => false
    /= f.association :product, collection: f.object.product_id ? Product.where('id = ? OR (is_active=1)', f.object.product_id) : Product.where(is_active: true)
    //= f.association :product, collection: f.object.product_id ? Product.where('id = ? OR (is_active=true)', f.object.product_id) : Product.where(is_active: true)
  .row
  .col-sm-4
    = f.association :attr1, class: 'no-left-padding'
  .col-sm-4
    = f.association :attr2
  .col-sm-4
    = f.association :attr3
  .row
    %h3 Events
    #tasks
      = f.simple_fields_for :events do |event|
        = render 'event_fields', f: event
      .links.container
        = link_to_add_association '+ Add event', f, :events, class: "btn btn-info add-button"
