.page-header
  %h1
    Edit course enrollments
    = link_to 'Show course', course_path(@course), class: 'navbar-link btn btn-primary'
    = link_to 'All courses', courses_path, class: 'navbar-link btn btn-primary'

= simple_form_for @course do |f|
  = f.error_notification
  = f.button :submit, class: "btn btn-info add-button"
  .row
  .col-sm-6
    = f.input :name
  .col-sm-6
    = f.association :product
    /= f.association :service, collection: f.object.service_id ? Service.active_or_id(f.object.service_id) : Service.active, :include_blank => false
  .row
  .col-sm-4
    = f.association :attr1, class: 'no-left-padding'
  .col-sm-4
    = f.association :attr2
  .col-sm-4
    = f.association :attr3
  .row
    %h3 Events
    #tasks
      = f.simple_fields_for :enrollments do |enrollment|
        = render 'enrollment_fields', f: enrollment
      .links.container
        = link_to_add_association '+ Add event', f, :enrollments, class: "btn btn-info add-button"
