.page-header
  %h1
    Courses
    /.pull-right
    = link_to 'New', new_course_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th Name
      %th Product
      %th Attr1
      %th Attr2
      %th Attr3
      %th.text-center Actions
  %tbody
    - @courses.each do |course|
      %tr
        %td= link_to course.name, course, class: 'btn btn-default btn-xs'
        %td= course.product
        %td= course.attr1
        %td= course.attr2
        %td= course.attr3
        %td
          = link_to '1-Course', course_edit_clean_path(course), class: 'btn btn-default btn-xs'
          = link_to '2-Enrollments', edit_course_path(course), class: 'btn btn-default btn-xs'
          = link_to '3-Events', edit_course_path(course), class: 'btn btn-default btn-xs'
          = link_to '4-Attendances', edit_course_path(course), class: 'btn btn-default btn-xs'
          = link_to 'Destroy', course_path(course), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'