</div>
- set_var 'events', @events.map{|e| {title: e.room.office.name  + " " + e.room.name + " " + e.member.to_s, start: e.starts_at, end: e.ends_at, url: edit_event_path(e), color: e.room.name}}

= render 'course_show_action_bar'

%br
.row
.col-md-3
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b Course
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
            .fa.fa-gavel.fa-4x
          %br
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %tbody
              %tr
                %td Name:
                %td= @course.name
              %tr
                %td Product
                %td= @course.product
              %tr
                %td Attr1
                %td= @course.attr1
              %tr
                %td Attr2
                %td= @course.attr2
              %tr
                %td Attr3
                %td= @course.attr3
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %thead
              %tr
                %th Used
                %th Paid
                %th.bg-success Balance
            %tbody
              %tr
                %td= @course.total_used_course
                %td= @course.total_paid_course
                %td.bg-success= @course.total_balance_course
.col-sm-9
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapsetwo"}
            %b Details
      #collapsetwo.panel-collapse.collapse.in
        .panel-body
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#Calendar"} Calendar
            %li
              %a{"data-toggle" => "tab", :href => "#Eventsall"}
                All events:
                = @events.count
            %li
              %a{"data-toggle" => "tab", :href => "#Eventspast"}
                Past events:
                = @past_events.count
            %li
              %a{"data-toggle" => "tab", :href => "#Eventsfuture"}
                Future events:
                = @future_events.count
            %li
              %a{"data-toggle" => "tab", :href => "#Enrollments"}
                Enrollments:
                = @enrollments.count
            %li
              %a{"data-toggle" => "tab", :href => "#Payments"} 
                Payments:
                = @payments.count
          .tab-content
            #Calendar.tab-pane.fade.in.active
              %br
              %div#calendar_course_client
            #Eventsall.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                /currently counts all attendances registered, not only A1 & A13s
                - @events.collect{|p| [p.startnice, p.duration, p.room.office, p.room, p.member, p.attendances.count]}.transpose.each do |line|
                  %tr
                    - line.each do |cell|
                      %td= cell
                      /@event.eventused shows total price of attendances of this event
                      /- event.attendances.each do |attendance|
                      /  %tr.bg-warning
                      /    %td= link_to attendance.client, client_path(attendance.client), class: 'btn btn-default btn-xs', :style=>'color: blue;'
                      /    %td= attendance.attendance_rate
                      /    %td= attendance.duepayment
            #Eventspast.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th Starts at
                    %th Duration
                    %th Room
                    %th Responsible
                    %th Edit event
                    %th PriceOffAllEvetnAttendances
                %tbody
                  - @past_events.each do |event|
                    %tr.bg-danger
                      %td= event.starts_at
                      %td= event.course.product.event_length
                      %td= event.room
                      %td= link_to event.member, member_path(event.member), class: 'btn btn-default btn-xs', :style=>'color: blue;'
                      %td= link_to 'Edit', edit_event_path(event), class: 'btn btn-default btn-xs'
                      %td= event.eventused
                      %thead
                        %tr.bg-warning
                          %th Client
                          %th Attendance
                      %tbody
                      - event.attendances.each do |attendance|
                        %tr.bg-warning
                          %td= link_to attendance.client, client_path(attendance.client), class: 'btn btn-default btn-xs', :style=>'color: blue;'
                          %td= attendance.attendance_rate
                          %td= attendance.duepayment
            #Eventsfuture.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th Starts at
                    %th Duration
                    %th Room
                    %th Responsible
                    %th Edit event
                %tbody
                  - @future_events.each do |event|
                    %tr.bg-danger
                      %td= event.starts_at
                      %td= event.course.product.event_length
                      %td= event.room
                      %td= link_to event.member, member_path(event.member), :style=>'color: blue;', class: 'btn btn-default btn-xs'
                      %td= link_to 'Edit', edit_event_path(event), class: 'btn btn-default btn-xs'
                      %thead
                        %tr.bg-warning
                          %th Client
                          %th Attendance
                      %tbody
                      - event.attendances.each do |attendance|
                        %tr.bg-warning
                          %td= link_to attendance.client, client_path(attendance.client), :style=>'color: blue;', class: 'btn btn-default btn-xs'
                          %td= attendance.attendance_rate
                          %td= attendance.duepayment
            #Enrollments.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th Client
                    %th Used
                    %th Paid
                    %th.bg-success Balance
                    /%th Attendance Q
                    /%th Coupon
                %tbody
                  - @enrollments.each do |enrollment|
                    %tr
                      /%td= link_to enrollment.client, client_path(enrollment.client), :style=>'color: blue;'
                      %td= link_to enrollment.client, client_path(enrollment.client), class: 'btn btn-default btn-xs'
                      %td= enrollment.enrused
                      %td= enrollment.enrpaid
                      %td.bg-success= enrollment.enrbalance
                      /%td= enrollment.attendances.count

                      /%thead
                      /  %tr.bg-warning
                      /    /%th
                      /    %th PayID
                      /    %th PayAmount
                      /%tbody
                      /- enrollment.payments.each do |payment|
                      /  %tr.bg-warning
                      /    %td= payment.id
                      /    %td= payment.amount
            #Payments.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th PayID
                    %th Date
                    %th Office
                    %th Client
                    %th.bg-success Paid
                    %th Actions
                %tbody
                  - @payments.each do |payment|
                    %tr
                      %td= link_to payment.id, payment_path(payment), class: 'btn btn-default btn-xs'
                      %td= payment.created
                      %td= payment.office
                      %td= link_to payment.enrollment, client_path(payment.enrollment.client), class: 'btn btn-default btn-xs'
                      %td.bg-success= payment.amount
                      %td
                        = link_to 'Edit', edit_payment_path(payment), class: 'btn btn-default btn-xs'
                        = link_to 'Destroy', payment, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: 'btn btn-danger btn-xs'
