<%- model_class = Course -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @course.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:product_id) %>:</strong></dt>
  <dd><%= @course.product_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attr1_id) %>:</strong></dt>
  <dd><%= @course.attr1_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attr2_id) %>:</strong></dt>
  <dd><%= @course.attr2_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:attr3_id) %>:</strong></dt>
  <dd><%= @course.attr3_id %></dd>
  <dt><strong><%= model_class.human_attribute_name(:tenant_id) %>:</strong></dt>
  <dd><%= @course.tenant_id %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              courses_path, :class => 'btn btn-default'  %>
<%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_course_path(@course), :class => 'btn btn-default' %>
<%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              course_path(@course),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
