= simple_form_for @product, :html => { :class => 'form-horizontal' } do |f|
  = f.input :name
  = f.input :event_quantity
  = f.input :event_length
  = f.input :member_price
  = f.input :client_price
  = f.input :gtype
  = f.input :ctype
  = f.input :is_active
  = f.association :product_type
  = f.button :submit, :class => 'btn-primary'
  = link_to t('.cancel', :default => t("helpers.links.cancel")), products_path, :class => 'btn btn-default'
