.page-header
  %h1
    Products
    /.pull-right
    = link_to "<i class='fa fa-cart-plus'></i> Add new product".html_safe, new_product_path, class: 'navbar-link btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th ID
      %th description
      %th event q
      %th event length
      %th memer price
      %th client price
      %th gtype
      %th ctype
      %th active?
      %th created at
      %th Actions
  %tbody
    - @products.each do |product|
      %tr
        %td= link_to product.id, product_path(product), :class => 'btn btn-default btn-xs'
        %td= product.description
        %td= product.event_quantity
        %td= product.event_length
        %td= product.member_price
        %td= product.client_price
        %td= product.gtype
        %td= product.ctype
        %td= product.is_active
        %td= product.created
        %td
          = link_to 'Edit', edit_product_path(product), :class => 'btn btn-default btn-xs'
          = link_to 'Delete', product_path(product), :method => :delete, :data => { :confirm => 'Are you sure?' }, :class => 'btn btn-xs btn-danger'
