- model_class = Member
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:id)
      %th= model_class.human_attribute_name(:tenant_id)
      %th= model_class.human_attribute_name(:user_id)
      %th= model_class.human_attribute_name(:email)
      %th= model_class.human_attribute_name(:first_name)
      %th= model_class.human_attribute_name(:last_name)
      %th= model_class.human_attribute_name(:created_at)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @members.each do |member|
      %tr
        %td= link_to member.id, member_path(member)
        %td= member.tenant_id
        %td= member.user_id
        %td= member.user.email
        %td= member.first_name
        %td= member.last_name
        %td=l member.created_at

= link_to t('.new', :default => t("helpers.links.new")), new_event_path, :class => 'btn btn-primary'
