.col-md-3
.col-md-6
  .pull-right
    = link_to 'All members', members_path, class: "btn btn-default"
  .row
  %br
  .well.text-center
    %h1
      New member

    = simple_form_for @member do |f|
      = simple_fields_for( :user ) do |w|
        = w.input :email
      = f.input :first_name
      = f.input :last_name
      = f.button :submit, 'Create & send invitation', class: 'btn btn-primary btn-block'
.col-md-3


