.page-header
  %h1 New member
= form_for @member do |f|
  = fields_for( :user ) do |w|
    .control-group
      = w.label :email, :class => "control-label"
      .controls
        = w.text_field :email, :class => 'form-control'
  .control-group
    = f.label :first_name, :class => "control-label"
    = f.text_field :first_name, :class => "form-control"
  .control-group
    = f.label :last_name, :class => "control-label"
    = f.text_field :last_name, :class => "form-control"
  %br/
  .control-group
    %button.btn.btn-primary{:type => "submit"}
      Create user and invite