</div>
- set_var 'events', @events.map{|e| {title: e.course.name + " " + e.room.office.name  + " " + e.room.name, start: e.starts_at, end: e.ends_at, url: course_path(e.course)}}
.container.text-center
  = link_to 'Edit profile', edit_member_path(@member), class: 'btn btn-success'
  = link_to 'Pay salary', member_path(@member), class: 'btn btn-danger'
  = link_to 'Soft delete', member_path(@member), class: 'btn btn-danger'
  = link_to 'All members', members_path, class: 'btn btn-default'
%br
.col-md-3
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseOne"}
            %b Member profile
      #collapseOne.panel-collapse.collapse.in
        .panel-body
          .text-center
            .fa.fa-user.fa-4x
          %br
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %tbody
              %tr
                %td Name:
                %td= @member.to_s
              %tr
                %td Email:
                %td= @member.user.email
          %table.table.table-hover.table-condensed.table-responsive.table-bordered
            %thead
              %tr
                %th All services
                %th Past services
                %th Future services
                %th Total salary
                %th.bg-success Expected income
            %tbody
              %tr
                %td= @total_member_event_price
                %td= @total_member_event_price_past
                %td= @total_member_event_price_future
                %td
                %td.bg-success
.col-md-9
  #accordion.panel-group
    .panel.panel-default
      .panel-heading
        %h4.panel-title
          %a.accordion-toggle{"data-toggle" => "collapse", :href => "#collapseThree"}
            %b Details
      #collapseThree.panel-collapse.collapse.in
        .panel-body
          %ul.nav.nav-tabs
            %li.active
              %a{"data-toggle" => "tab", :href => "#Calendartab"} Calendar
            %li
              %a{"data-toggle" => "tab", :href => "#Pasteventstab"}
                Past events:
                = @past_events.count
                |
                = @total_member_event_price_past
            %li
              %a{"data-toggle" => "tab", :href => "#Futureeventstab"} 
                Future events:
                = @future_events.count
                |
                = @total_member_event_price_future
            %li
              %a{"data-toggle" => "tab", :href => "#Expencestab"}
                Salaries:
                /= @paid_to_member
          .tab-content
            #Calendartab.tab-pane.fade.in.active
              %br
              %div#calendar_user
            #Pasteventstab.tab-pane.fade
              %p
              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th Starts at
                    %th Duration
                    %th Course
                    %th Room
                    %th.bg-success Payment
                %tbody
                  - @past_events.each do |event|
                    %tr
                      %td= event.starts_at
                      %td= event.course.product.event_length
                      %td= event.course
                      %td= event.room
                      %td.bg-success= event.member_event_price
            #Futureeventstab.tab-pane.fade
              %p

              %table.table.table-hover.table-condensed.table-responsive.table-bordered
                %thead
                  %tr
                    %th Starts at
                    %th Duration
                    %th Course
                    %th Room
                    %th.bg-success Payment
                %tbody
                  - @future_events.each do |event|
                    %tr
                      %td= event.starts_at
                      %td= event.course.product.event_length
                      %td= event.course
                      %td= event.room
                      %td.bg-success= event.member_event_price
            #Expencestab.tab-pane.fade
              %p hi
